.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.main .mainSection-Uno, .main .mainSection-Three {
    background-color: var( --color-bgprim);
    display: flex;    
    padding: 3rem 24rem 3rem 14.4rem;
    gap: 3rem;
}



.main .mainSection-Uno .mainSection-Uno-Text h2, .main .mainSection-Duo .mainSection-Uno-Text h2, .main .mainSection-Three .mainSection-Uno-Text h2  {
    font-family: "Open Sans", sans-serif;
    font-size: 4rem;
    font-weight: 800;
    line-height: 5.447rem;
    color: var(--color-textsec);
    margin-bottom: 2rem;
}

.main .mainSection-Uno .mainSection-Uno-Text p, .main .mainSection-Duo .mainSection-Uno-Text p, .main .mainSection-Three .mainSection-Uno-Text p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: var(--color-textsec);
}

.main .mainSection-Duo {
    background-color: var(--color-bgsec);
    display: flex;
    padding: 3rem 14.4rem 3rem 24rem;
}

.main .mainSection-Duo .mainSection-Uno-Text, .main .mainSection-Three .mainSection-Uno-Text {
    padding-top: 10rem;
}

.main .mainSection-Four {
    background-color: var(--color-bgsec);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 3rem 24rem 3rem 14.4rem;
}

.main .mainSection-Three {
    padding-left: 23rem;
}


.main .mainSection-Four h2 {
    font-family: "Luckiest Guy", cursive;
    font-size: 4rem;
    font-weight: 400;
    line-height: 4rem;
    color: var(--color-textsec);
    padding-left: 20rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 60rem;
}

.main .mainSection-Four p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: var(--color-textsec);
    padding-left: 15rem;
    margin-bottom: 3rem;
    text-align: center;
    width: 80rem;
}

.main .mainSection-Four img {
    padding-left: 15rem;
}