* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-size: 16px;
    text-decoration: none;
  }

  :root {
    font-size: 62.5%;
    --color-textprim: #ffffff;
    --color-textsec: #23272A;
    --color-btnUno: #ffffff;
    --color-btnDuo: #23272A;
    --color-bgprim: #ffffff;
    --color-bgsec: #f6f6f6;
  }  
  

  footer {
    background-color: var(--color-btnDuo);
    padding: 20px 0;
    text-align: center;
  }

